<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>S4MKKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>scrabbleKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>091489D019220DF00040F7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>091489F419220DF00040F7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D3F3D519C1AC9F0026277A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D3F3E219C1AC9F0026277A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
